MAIN_APP_ICON ICON "tobasa_app.ico"

#define IDR_VERSION 1
IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "Tobasa Web Service 1.0\0"
      VALUE "CompanyName", "Tobasa\0"
      VALUE "FileDescription", "Tobasa Web Service\0"
      VALUE "InternalName", "Tobasa Web Service \0"
      VALUE "LegalCopyright", "Copyright 2006-2026 Jefri Sibarani - jefrisibarani@gmail.com\0"
      VALUE "OriginalFilename", "webservice.exe\0"
      VALUE "ProductName", "Tobasa Web Service \0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
